*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
  font-family: "Roboto", sans-serif;
}

.main_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(20, 20, 20);
  width: 100%;
  height: 100%;
}

.gallery {
  width: 650px;
  height: 650px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  background: black;
}

.img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  cursor: pointer;
  background-image: url(https://images.unsplash.com/photo-1606267911502-d7a554af2b9b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
  background-size: cover;
  background-position: center;
  transition: all 0.33s ease;
}

.img:hover {
  opacity: 1;
}

.modal {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 650px;
  height: 650px;
  border: 2px solid white;
  background-image: url();
  background-size: cover;
  background-position: center;
}
